*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  /* background-color: yellow; */
  display: grid;
  place-items: center;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
